*{
    background-color:black;
    color: white;
    border: 10px;
    margin: 10px;
}
p,ul{
    font-size: large;
    display: block;
    margin: 100px;
    margin-bottom: 0px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 8px;
}
ul{
    margin-top: 15px;
}
img{
    border-radius: 8px ;
    display: block;
    margin: auto;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}
button{
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: 100px;
    margin-top: 40px;
    cursor: pointer;
}