@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.c1 {
    background-color: #393E46;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.card-img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 25px rgba(179, 173, 173, 0.7);
}

.card-container h3 {
    text-align: center;
}

@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}